.page {
   height: 100vh;
   position: fixed;
   width: 100%;
}
.fade-exit {
   opacity: 1;
}

.fade-exit-active {
   opacity: 0;
   transition: opacity 500ms ease-in-out;
}
/* 
.fade-enter {
   opacity: 0;
}

.fade-enter-active {
   opacity: 0;
   transition: opacity 50s0ms ease-in-out;
} */
